<h2>Create New Ingredient</h2>

<%= form_tag ingredients_path, :class => 'form' do %>
  <%= label :ingredient, :item, 'Item', :class => 'col-form-label' %>
  <%= text_field :ingredient, :item, :class => 'form-control' %>
  <%= label :ingredient, :quantity, 'Quantity', :class => 'col-form-label' %>
  <%= text_field :ingredient, :quantity, :class => 'form-control' %>
  <%= label :ingredient, :release_date, 'Released On', :class => 'col-form-label'  %>
  <%= date_select :ingredient, :release_date, {}, :class => 'form-control col-2 d-inline' %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', ingredients_path, :class => 'btn btn-secondary' %>
<% end %>
