<h2>All Ingredients</h2>
<%= link_to "Return to Main Page", '/', :class => 'btn btn-primary' %>
<%= link_to "Create Recipe",recipe_index_path, :class => 'btn btn-primary' %>
<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="ingredients">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
<!--       <th>Expiration Date</th> -->
      <th>Make Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <%= ingredient.item %>
        </td>
        <td>
          <%= ingredient.quantity %>
        </td>
<!--         <td>
          <%= date_select :ingredient, ingredient.expiration_date %>
        </td> -->
        <td>
          <%= link_to "More about #{ingredient.item}", edit_ingredient_path(ingredient) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>





