
<%#  Part 2: Start here... %>
<div class="hero_image" class="d-flex align-items-center " style="height:700px; width: 100%;border:1px solid black; background-image: url(<%= 'https://source.unsplash.com/4y3Dqy2tTM4' %>);background-size: cover;background-position: center;background-attachment:fixed;
    overflow:scroll;">
<table class="table table-striped col-md-12 align-self-center ml-4 mt-3" id="ingredients" style="width: 630px;">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
<!--       <th>Expiration Date</th> -->
      <th>Make Changes</th>
      <th>Delete Item</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <%= ingredient.item %>
        </td>
        <td>
          <%= ingredient.quantity %>
        </td>
<!--         <td>
          <%= date_select :ingredient, ingredient.expiration_date %>
        </td> -->
        <td>
          <%= link_to "More about #{ingredient.item}", edit_ingredient_path(ingredient) %>
        </td>
        <td>
          <%= button_to "Delete", ingredient_path(ingredient), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>




