<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @ingredient.item %></em></h2>

<ul id="details">
  <li>
    Quantity:
    <%= @ingredient.quantity %>
  </li>
  <li>
    Expiration Date:
    <%= @movie.expiration_date.strftime("%B %d, %Y") %>
  </li>
</ul>

<div class="row">
  <%= link_to 'Edit', edit_ingredient_path(@ingredient), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', ingredient_path(@ingredient), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to ingredient list', ingredients_path, :class => 'btn btn-primary col-2' %>
</div>
