<%= link_to "Back", :back, :class => 'btn btn-outline-secondary my-2 my-sm-0' %>
<h2>
    <%= @obj['title'] %>
<h2>

<div>
    <%= image_tag(@obj['image']) %>
</div>

<h3>Nutrition List</h3>
<div>
<table class="table table-striped col-md-12" id="used">
  <tbody>
    <tr>
    <td>
        Name
    </td>
    <td>
        Amount
    </td>
    <td>
        unit
    </td>
    </tr>
    <% @obj['nutrition']['nutrients'].each do |item| %>
      <tr>
        <td>
          <%= item['name'] %>
        </td>
        <td>
          <%= item['amount'] %>
        </td>
        <td>
          <%= item['unit'] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>