<div>
<%= form_tag recipe_index_path(), :method => :get, id: 'p' do %>
  <%= label :recipe, :cuisine, 'Cusine', :class => 'col-form-label'  %>
  <%= select :recipe, :cuisine,options_for_select(['Any', 'Mexican']), :class => 'form-control' %>

  <%= label :recipe, :diet, 'Diet', :class => 'col-form-label'  %>
  <%= select :recipe, :diet,options_for_select(['Any', 'dairy free', 'Ovo Vegetarian', 'Paleo', 'Pescetarian', 'Primal', 'Vegan', 'Vegetarian', 'Ketogenic', 'Whole 30']), :class => 'form-control' %>


  <%= label :recipe, :intolerances, 'Intolerance', :class => 'col-form-label'  %>
  <%= select :recipe, :intolerances, options_for_select(['None', 'Dairy', 'Egg', 'Gluten', 'Grains', 'Peanut', 'Seafood', 'Sesame', 'Shellfish', 'Soy', 'Sulfite',  'Tree Nut', 'Wheat']), :class => 'form-control' %>


  <%= label :recipe, :occasion, 'Occasion', :class => 'col-form-label'  %>
  <%= select :recipe, :occasion,options_for_select(['Any', 'Birthday', 'Christmas', 'Halloween', "New Year's Eve", 'Thanksgiving', "Valentine's Day", 'fall', 'winter']), :class => 'form-control' %>


  <%= label :recipe, :time, 'Time', :class => 'col-form-label'  %>
  <%= select :recipe, :time, options_for_select(['Any','under 10 min','under 20 min','under 30 min','under 40 min','under 50 min','under 60 min']), :class => 'form-control' %>

  <%= submit_tag 'Update User Preference', :class => 'btn btn-primary' %>
<% end %>
</div>

<%#  Part 2: Start here... %>
<div class="hero_image" class="d-flex align-items-center " style="height:700px; width: 100%;border:1px solid black; background-image: url(<%= 'https://source.unsplash.com/Q7PclNhVRI0' %>);background-size: cover;background-position: center;background-attachment:fixed;
    overflow:scroll;">
<table class="table table-striped col-md-12 align-self-center ml-4 mt-3" id="ingredients" style="width: 100%;">
  <thead>
    <tr>
      <th>Item</th>
      <th>Details</th>
      <th>Steps</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= recipe[0]%>
          <% if !recipe[1].empty?%>
          <% recipe[1].each do |type| %>
            <button class="btn btn-secondary"><%= type%></button>
            <%end%>
          <% end %>
          <% if !recipe[2].empty?%>
          <% recipe[2].each do |type| %>
            <button class="btn btn-secondary"><%= type%></button>
            <%end%>
          <% end %>
          <% if !recipe[3].empty?%>
          <% recipe[3].each do |type| %>
            <button class="btn btn-secondary"><%= type%></button>
            <%end%>
          <% end %>

          <% if !recipe[4].nil?%>
            <button class="btn btn-secondary"><%= recipe[4]%></button>
          <% end %>
        </td>
        <td>
          <%= link_to 'Detail', recipe_detail_path(recipe[6]), :class => 'btn btn-secondary' %>
        </td>
        <td>

          <%= link_to 'Steps', recipe_show_path(recipe[6]), :class => 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>







<!-- <%= link_to "Ingredient", ingredients_path, :class => 'btn btn-primary' %>
<%= link_to "Main Page", '/', :class => 'btn btn-primary' %> -->