<h2>
    <%= @obj['title'] %>
<h2>

<div>
    <%= image_tag(@obj['image']) %>
</div>

<h3> Own Ingredients </h3>
<div>
<table class="table table-striped col-md-12" id="used">
  <tbody>
    <% @obj['usedIngredients'].each do |item| %>
      <tr>
        <td>
          <%= item['name'] %>
          <%= image_tag(item['image']) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3> Missing Ingredients </h3>
<div>
<table class="table table-striped col-md-12" id="missing">
  <tbody>
    <% @obj['missedIngredients'].each do |item| %>
      <tr>
        <td>
          <%= item['name'] %>
          <%= image_tag(item['image']) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>