<h2>
    <%= @obj['title'] %>
<h2>

<div>
    <%= image_tag(@obj['image']) %>
</div>

<% if @step[0]['steps'].length == 0 %>

<%= link_to "Info on external website", @obj['sourceUrl'] %>

<% else %>
<h3>Step List</h3>
<div>
<table class="table table-striped col-md-12" id="used">
  <tbody>
    <% @step[0]['steps'].each do |item| %>
      <tr>
        <td>
          <%= item['step'] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>

<h3>similars recipes</h3>
<div>
<table class="table table-striped col-md-12" id="used">
  <tbody>
    <% @similars.each do |item| %>
      <tr>
        <td>
          <%= link_to item['title'], recipe_show_path(item['id'])  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3>Wine pairing</h3>
<div>
<table class="table table-striped col-md-12" id="used">
  <tbody>
    <% @obj['winePairing']['pairedWines'].each do |item| %>
      <tr>
        <td>
          <%= item %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>